<div class="wrapper">

  <div class="container">

    <div class="heading">
      <h1>Partaker Blog Posts</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Id, sed distinctio. Deleniti labore, quo eligendi, numquam
        architecto repellendus laborum sit, aliquam voluptatibus
        quaerat dolorem ad et tenetur eos. Minima, tempora.
      </p>
    </div>

    <div class="blog_grid">
      <mat-card>
        <img mat-card-image src="../../../assets/img1.jpg">
        <mat-card-title>Blog Post 1</mat-card-title>
        <mat-card-subtitle>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ad natus nihil dicta a, eum accusamus inventore, laudantium
          odio minus nostrum, eos assumenda quam. Amet maiores rem,
          incidunt corrupti nostrum sint.
        </mat-card-subtitle>
        <button mat-raised-button>Read More</button>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../assets/img2.jpg">
        <mat-card-title>Blog Post 1</mat-card-title>
        <mat-card-subtitle>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ad natus nihil dicta a, eum accusamus inventore, laudantium
          odio minus nostrum, eos assumenda quam. Amet maiores rem,
          incidunt corrupti nostrum sint.
        </mat-card-subtitle>
        <button mat-raised-button>Read More</button>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../assets/img3.jpg">
        <mat-card-title>Blog Post 1</mat-card-title>
        <mat-card-subtitle>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ad natus nihil dicta a, eum accusamus inventore, laudantium
          odio minus nostrum, eos assumenda quam. Amet maiores rem,
          incidunt corrupti nostrum sint.
        </mat-card-subtitle>
        <button mat-raised-button>Read More</button>
      </mat-card>
      <mat-card>
        <img mat-card-image src="../../../assets/img4.jpg">
        <mat-card-title>Blog Post 1</mat-card-title>
        <mat-card-subtitle>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ad natus nihil dicta a, eum accusamus inventore, laudantium
          odio minus nostrum, eos assumenda quam. Amet maiores rem,
          incidunt corrupti nostrum sint.
        </mat-card-subtitle>
        <button mat-raised-button>Read More</button>
      </mat-card>
    </div>

  </div>

</div>
