<div class="wrapper">

  <div class="container">

    <div class="heading">
      <h1>Partaker Blog Posts</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Id, sed distinctio. Deleniti labore, quo eligendi, numquam
        architecto repellendus laborum sit, aliquam voluptatibus
        quaerat dolorem ad et tenetur eos. Minima, tempora.
      </p>
    </div>

    <div *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!isLoading">
      <div class="blog_grid">
        <div *ngFor="let blog of blogs; let index i" class="single_card">
          <mat-card>
            <img mat-card-image src="{{ blog?.fields?.mainImage?.fields?.file?.url }}">
            <mat-card-title>{{ blog?.fields?.title }}</mat-card-title>
            <mat-card-subtitle>{{ blog?.fields?.subtitle }}</mat-card-subtitle>
            <mat-card-actions>
              <button mat-raised-button (click)="onClickNavigateArticle(blog?.sys?.id)">Read More</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

  </div>

</div>
